h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $theme-text;
	font-family: $font__headings;
	font-weight: $font-headings-normal;
	line-height: 1.2em;
	margin-bottom: 3%;
}

h1 {
	font-size: 44px;

	@media screen and (min-width: $screen-sm) {
		font-size: 60px;
	}
}

h2 {
	font-size: 38px;

	@media screen and (min-width: $screen-sm) {
		font-size: 50px;
	}
}

h3 {
	font-size: 28px;

	@media screen and (min-width: $screen-sm) {
		font-size: 40px;
	}
}

h4 {
	font-size: 24px;

	@media screen and (min-width: $screen-sm) {
		font-size: 30px;
	}
}

h5 {
	font-size: 20px;

	@media screen and (min-width: $screen-sm) {
		font-size: 20px;
	}
}

h6 {
	font-size: 16px;

	@media screen and (min-width: $screen-sm) {
		font-size: 16px;
	}
}
