$theme-text: #343E47;
$theme-text-light: #848a96;
$theme-dark-background: #2B343C;
$theme-light-background: #ecf1f7;
$theme-hr-border: #c7d6e4;
$theme-post-navigation: #CDDBE6;
$theme-site-description: #383f49;
$theme-primary: #f35245;
$theme-white: #fff;
$theme-link: #62707c;

$theme-background: #fdfdfd;
$theme-offwhite: #f3f3f3;
$theme-black-alt: #2b2b2b;
$theme-text-light: #333;
$theme-link-hover: #365d7e;
$theme-primary-alt: #2f506c;
$theme-primary-dark: #27435a;
$theme-primary-medium: #4678a1;
$theme-grey-alt: #777;
$theme-grey-light: #e7e7e7;
$theme-grey-lighter: #c3c3c3;
$theme-grey-dark: #a1a1a1;
$theme-grey-white: #dce7f0;
$theme-text-input: #555;
$theme-border-input: #ccc;
$theme-border-button: #ccc #ccc #bbb;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #444444;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color-primary: #114781;
$color-drawer-background: #999;
