$font__main: 'Lato', sans-serif;
$font__headings: 'Lato', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.6;

$font-main-normal: 400;
$font-main-bold: 700;

$font-headings-normal: 400;
$font-headings-bold: 700;

$fa-font-path: './fonts';
