a {
	color: $theme-link;
	text-decoration: none;
	transition: all 0.4s ease-in-out;

	&:visited {
		color: $theme-link;
	}

	&:hover,
	&:active,
	&:focus {
		outline: 0;
		color: $theme-link-hover;
	}
}
